<section class="container">
  <section class="topCont">
    <h1>Success-, Warning- ja Danger-ilmoitukset</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam magnam consequatur voluptas tempora quidem commodi veritatis facilis eum animi excepturi ducimus doloribus sed repudiandae cumque, autem aspernatur blanditiis atque sunt aliquid harum facere ab. Ad neque modi numquam doloribus accusamus libero accusantium voluptatibus nihil a, cum quas dolorem, impedit quidem!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio voluptatem molestiae sit expedita enim unde iste nam, non, nobis, magni fugiat eum sapiente dolorem quisquam.</p>
  </section>
 <hr>
  <section class="alerts">
  <section class="success">
   <h1>Success-ilmoitus</h1>
    <app-success-alert></app-success-alert>
  </section>

  <section class="warning">
    <h1>Warning-ilmoitus</h1>
    <app-warning-alert></app-warning-alert>
  </section>

  <section class="danger">
    <h1>Danger-ilmoitus</h1>
    <app-danger-alert></app-danger-alert>
  </section>
</section>
</section>